<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="roomId" id=<%= roomId %>>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/vector.js"></script>
<script src="/javascripts/world.js"></script>
<script src="/javascripts/food.js"></script>
<script src="/javascripts/camera.js"></script>
<script src="/javascripts/player.js"></script>
<script src="/javascripts/script.js"></script>
</html>